

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    background-color: rgb(155, 155, 155);
    border-radius: 30px;
    border: solid 10px #f6b328;
    box-shadow: 0px 0px 20px white;
}



.email {
    margin-bottom: 20px;
}

.btnRegister {
    border-radius: 30px;
    font-family: 'Press Start 2P', cursive;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;


}

.btnRegister:hover {
    background-color: #f6b328;
}

.RegisterInterno {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: center;
}

.title {
    margin-bottom: 10px;
}

input {
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
}